/* src/components/WelcomePage.css */
.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ffffff, #b3b3b3);
}

.welcome-content {
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.start-button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #0056b3;
}
